<div class="question__form">
    <div class="col-md-6 offset-md-3">
        <%= form_with(model: @question, local: true) do |f| %>
        <%= f.text_field :title, placeholder: "質問タイトル" %>
        <%= f.text_area :content, size: '60x12', placeholder: "質問内容"%>
        <div class="button">
            <%= f.submit "投稿" , class: 'btn btn-primary'%>
        </div>
        <% end %>
    </div>
</div>
