////universal
html,
body{
  height: 100%;
}

//section {
//  overflow: auto;
//}

//textarea {
//  resize: vertical;
//}

//.center {
//  text-align: center;
//}

//.center h1 {
//  margin-bottom: 10px;
//}

//h1,
//h2,
//h3,
//h4,
//h5,
//h6 {
//  line-height: 1;
//}

//h1 {
//  font-size: 3em;
//  letter-spacing: -2px;
//  margin-bottom: 30px;
//  text-align: center;
//}

//h2 {
//  font-size: 1.2em;
//  letter-spacing: -1px;
//  margin-bottom: 30px;
//  text-align: center;
//  font-weight: normal;
//  color: #777;
//}

//p {
//  font-size: 1.1em;
//  line-height: 1.7em;
//}

li {
  list-style: none;
}

hr {
  size: 50px;
}


//header

.navbar {
  position: fixed;
  width: 100%;
}

.body {
  padding-top: 58.3px;
}


.logo-img {
  height: 30px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
textarea,
select,
.uneditable-input {
  border: 5px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  padding-left: 10px;  
}

input {
  height: 2.5em;
}

input::placeholder {
  text-align: center;
  font-size: 1.2em;
}

textarea::placeholder {
  text-align: center;
  font-size: 1.2em;
  padding-top: calc(270px / 2);
}

.button {
  text-align: center;
  input {
    margin-top: 25px;
    width: 50%;
    background-color: #36bfff;
    border-radius: 30px;
    border: none;
  }
}
